/* pc: #282a39 */
/* sc: #333647 */
/* or: #f87c58 */
html {
  scroll-behavior: smooth;
}

a{
  color: white !important;
  text-decoration: none !important
}

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.name{
  font-family: 'Allura', cursive; 
  font-size: 2rem !important;
}

.HireMeBtn{
  background-color: #00cdcb;
  padding: 6px 16px !important;
  border-radius: 5px;
  color: white;
}

.progress-bar{
  background-color: #2f8382  !important;
}

.progress{  
  width: 100% !important;
}

@media (max-width:568px) {
  .progress{
    margin-top: 10px;
  }
}

.bg-primary{
    background-color: #00cdcb !important;
}


@media (max-width:568px) {
  .mt-sm-3{
    margin-top: 3rem;
  }
}

@media (max-width:769px){
  .pt-sm{
    padding-top:30px
  }
  .pt-sm-x{
    padding-top:130px
  }
  .font-sm-1{
    font-size: 3rem !important;
  }
  .font-sm-2{
    font-size: 1.5rem !important;
  }

}